.container{
          display: flex;
          justify-content: space-between;
          background-color: rgb(182, 235, 217);
          height: 80px;
          font-family: cursive;
          color: rgb(29, 90, 90);
}
.btn-user{
          height: 40px;
          justify-content: center;
          margin-top: 20px;
          margin-right: 40px;
          background-color: transparent;
          color: rgb(29, 90, 90);
}